body {
  background:#fff;
  font-family: 'Lato';
  color:#2b2b2b;
  margin:0;
  padding:0;
  font-size:1.4em;
  line-height:180%;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
}

a {
  text-decoration:none;
  color:#2b2b2b;
}

nav {
  font-family: 'Karla' ;
  display:grid;
  grid-template-columns:40vw 40vw;
}

#name {
  font-weight:700;
}

#links {
  text-align:right;
}

#wrapper {
  margin:4em auto;
  width:80vw;
}

#links a:first-child {
  margin-right:1em;
  color:#2b2b2b;
}

#links a {
  color:#888;
}

#intro, #aboutWrapper {
  margin-top: 3em;
}

#firstLine, #contact {
  font-family: 'Karla';
  text-transform: uppercase;
  font-weight:700;
  font-size:2em;
  margin-bottom:1em;
}

#extendedBio {
  margin-bottom:2.5em;
}

#extendedBio b, #aboutBio b {
  font-weight:400;
  background:#FDEBC0;
}

#externalLinks {
  margin-bottom:3em;
}

#externalLinks a, .viewProject {
  font-family: 'Karla';
  font-size:.9em;
  border-radius:.3em;
  font-weight:700;
  text-transform: uppercase;
}

@media only screen and (max-width: 450px) {
  #externalLinks a {
    display:inline-block;
  }

  #externalLinks a:last-child {
    margin-top:1em;
  }
}

#resume, .viewProject {
  background:#1089FF;
  color:#fff;
  padding:.5em 1em;
  margin-right:1em;
}

#email {
  color:#1089FF;
  background:#fff;
  padding:.5em 1em;
  border:1px solid #aaa;
}

#scrollDown {
  background:#eaeaea;
  padding:.6em 1em;
  font-weight:900;
  border-radius:4em;
  text-transform: uppercase;
  font-size:.6em;
}

#selectedWorks {
  margin-top:6em;
}

#selectedTitle {
  font-family: 'Karla';
  text-transform: uppercase;
  font-weight:700;
  font-size:1.7em;
  margin-bottom:2em;
}

.selectedConatiner {
  margin-bottom:6em;
  display:grid;
  grid-template-columns: 40vw 40vw;
}

@media only screen and (max-width: 950px) {
  .selectedConatiner {
    display:grid;
    grid-template-row: auto auto;
    grid-template-columns: 80vw;
  }

  .workPreview{
    margin-top:2.3em;
  }
}

.projectInfo {
  padding-right:3em;
}

.workPreview {
  width:100%;
  border-radius:.3em;
  /*box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);*/
}

.projectName {
  font-weight:700;
  font-size:1.4em;
  margin-bottom:.7em;
}

.timeDuration {
  opacity:.7;
  margin:.5em 0;
  font-size:.8em;
}

.tags {
  margin-bottom:1em;
}

.tags item {
  background: #EAEAEA;
  font-size:.6em;
  font-weight:700;
  padding:.5em 1em;
  border-radius: 4em;
}

.projectDescript {
  font-size:.8em;
  margin-bottom:1.5em;
}

#aboutWrapper {
  display:grid;
  grid-template-columns:50vw 30vw;
}

#aboutWrapper a {
  text-decoration: underline;
}

#aboutBio {
  padding-right:6em;
}

@media only screen and (max-width: 910px) {
  #aboutWrapper {
    display:grid;
    grid-template-row: auto auto;
    grid-template-columns: 80vw;
  }

  #aboutBio {
    padding-right:0;
  }
}

#portrait {
  width:100%;
  margin-bottom:.7em;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  border-radius:.3em;
}



  