body {
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 180%;
    color: #181717;
}

::-moz-selection{ 
    background: #e8e7f0; 
    color:#181717;
}

::selection {
    background: #e8e7f0;
    color:#181717;
}

a {
    text-decoration: none;
}

#content a {
    text-decoration: underline;
}

a, b, i, h4, h3, h2, h1 {
    color: #181717;
}

a:hover {
    color: #666;
}

h1, h2, h3, h4, figcaption {
    font-weight: 400;
    font-family: 'Playfair Display', serif;
}

#wrapper {
    width: 60vw;
    margin: 2em auto 8em auto;
}

nav {
    margin: auto;
    height:70px;
    box-sizing: border-box;
    display: grid;
    align-items: center;
    width: 80vw;
    padding: 2em 0;
    grid-template-columns: auto auto;
}

#name {
    font-weight: 700;
    font-size: 20px;
    color: #181717;
}

#links, #fLinks {
    text-align: right;
}

#links a:hover {
    color: #666;
}

#links a {
    font-size: 14px;
}

#links a, #fLinks a {
    margin-left: 16px;
}

.current, .under {
    border-bottom: 1px solid #666;
}

#tagline {
    width: 60vw;
    font-size: 32px;
    line-height:160%;
    margin:4em auto;
    padding-top: 16px;
    font-family: 'Playfair Display', serif;

}

#work {
    width: 60vw;
    margin:2em auto;
    line-height:160%;
    font-weight: 700;
}

#project {
    margin: auto;
    display: grid;
    width: 100%;
    grid-template-columns: auto;
    gap: 8em 0;

}

.ex h2{
    line-height:180%;
}

.cover {
    width: 100%;
}

.pDesc {
    font-size: 14px;
}

#content {
    margin: 6em auto 6em auto;
    width: 100%;
}

footer {
    font-size: 14px;
    margin: auto;
    box-sizing: border-box;
    display: grid;
    align-items: center;
    width: 80vw;
    padding: 2em 0 4em 0;
    grid-template-columns: auto auto;
}

@media only screen and (max-width: 1301px) {

    nav, #wrapper, #tagline, #project, #work, footer {
        width: 80vw;
    }

    nav {
        grid-template-columns: auto auto;
    }

    #project {
        grid-template-columns: auto;

    }
  }
